{% extends "master.html.twig" %}


{% block seccion_content %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} flash-">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="card card-dark card-outline">
        <div class="card-header">
            <h3 class="card-title">Players Browser</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card-body box-profile">
                                <p>
                                    Make the search of your team members separated by comma, like this:
                                    <b>LPG Levi,LPG Garp,LPG MataRata,LPG_iMaChoO</b> without spaces and chose the respective platforms XBOX, PSN or both of them.
                                </p>
                                <br>
                                    {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}