{% extends 'master.html.twig' %}

{% block seccion_content %}

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Datos de Unidad</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="card-body box-profile">

                                {% for player in players %}
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="https://img.favpng.com/20/22/8/playerunknown-s-battlegrounds-video-games-logo-fortnite-battle-royale-battle-royale-game-png-favpng-vzsGQfFGrhrSTi0pPRq7NFkgb.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{ player.getName() }}</li>
                                            <li class="list-group-item">{{ player.getAccount() }}</li>
                                            <li class="list-group-item">{{ player.getPlatform() }}</li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" class="card-link">Another link</a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}