{% extends 'base.html.twig' %}

{% block body %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><img src="{{ asset('glezand.svg') }}" style="margin-top: 10%;"></img></a>
        </div>
        <!-- /.login-logo -->
        <div class="card" style="margin-bottom: 90%;">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingresa la nueva contraseña</p>
                <form action="{{ path('password_update') }}" method="post">
                    <div class="input-group mb-3">
                        <input type="password" placeholder="contraseña"
                               id="password" name="password"
                               class="form-control"
                               required
                        >
                        <input type="email"
                               id="username" name="username"
                               value="{{ email }}"
                               hidden
                        >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">

                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-warning btn-block"> Enviar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    </body>
{% endblock %}